torch==2.4.0
torchaudio==2.4.0+cu124
torchmetrics==1.4.1
torchvision==0.19.0+cu124
pytorch-lightning
sentencepiece
tokenizers
transformers
triton
xgboost
einops
huggingface-hub
lightning-utilities
mpmath
numpngw
onnxruntime
opencv-python
optimum-quanto
protobuf
pydantic
regex
safetensors
sympy
timm