torch==2.4.0
torchvision --index-url https://download.pytorch.org/whl/test/cu124
torchaudio --index-url https://download.pytorch.org/whl/test/cu124
torchmetrics==1.4.1
pytorch-lightning
sentencepiece
tokenizers
transformers
triton
numexpr
xgboost
einops
huggingface-hub
lightning-utilities
mpmath
numpngw
onnxruntime
opencv-python
optimum-quanto
protobuf
pydantic
regex
safetensors
sympy
timm