torch
torchvision
torchaudio
torchmetrics
pytorch-lightning
sentencepiece
tokenizers
transformers
numexpr
xgboost
einops
huggingface-hub
lightning-utilities
mpmath
numpngw
onnxruntime
opencv-python
optimum-quanto
protobuf
pydantic
regex
safetensors
sympy
timm
matplotlib
pandas
scikit-image
